{% extends 'base.html.twig' %}

{% block title %}
{{prestation.name}} | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>{{prestation.name}}</h2>
    <div>{{ prestation.paragraphe }}</div>
    <div>{{ prestation.prix }}</div>
    <h1>Prestation essai 1</h1>

{% endblock %}

