<nav>
    <ul>
        <li><a href="{{ path('page_home') }}" title="ACCUEIL">ACCUEIL</a></li>
        <li><a href="{{ path('app_apropos') }}" title="A PROPOS">A PROPOS</a></li>
        <li><a href="{{ path('prestations_list') }}" title="PRESTATIONS">PRESTATIONS</a></li>
        <li><a href="{{ path('app_galeries') }}" title="GALERIES">GALERIES</a></li>
        <li><a href="{{ path('app_temoignages') }}" title="TEMOIGNAGES">TEMOIGNAGES</a></li>
        <li><a href="{{ path('app_contact') }}" title="CONTACT">CONTACT</a></li>

        </li>
    </ul>
</nav>